
@model IEnumerable<Business.Areas.Producto.ProductoDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<p>
    <a class="btn btn-primary" href="~/Producto/Create">Nuevo Producto</a>

</p>

<p>
    <a class="btn btn-primary" href="~/Producto/ConsultaProductosExistencia">Lista Productos Existencia</a>

</p>
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Precio
        </th>
        <th>
            Stock
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a class="btn btn-default" href="~/Producto/Update/@item.Id_Producto">Editar</a>
                <a class="btn btn-danger" href="~/Producto/Delete/@item.Id_Producto">Eliminar</a>
            </td>
        </tr>
    }

</table>
