@model IEnumerable<Business.Areas.Cliente.ClienteDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
        <a class="btn btn-primary" href="~/Cliente/Create">Nuevo</a>
    
</p>


<table class="table">
    <tr>
        <th>
            Identificacion
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Telefono
        </th>
        <th>
            Edad
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion_Cliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            <a class="btn btn-default" href="~/Cliente/Update/@item.Identificacion_Cliente">Editar</a>
            <a class="btn btn-danger" href="~/Cliente/Delete/@item.Identificacion_Cliente">Eliminar</a>
        </td>
    </tr>
}

</table>
